body {
  font-family: 'Calibri', serif;
  padding: 0;
  margin: 0;
  background: #fff598;
}

nav {
  background-color: #333;
  text-align: center;
  color: white;
  padding: 10px 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

table {
  width: 100%;
}

td:nth-child(2) {
  font-weight: bold;
}

td a {
  color: #0074d9;
  text-decoration: none;
}

td {
  white-space: normal !important;
  word-break: break-word;
  vertical-align: top;
}

h2 {
    text-align: center;
}


/* === Footer === */
.footer {
  background-color: #000;      
  color: #fff;                  
  text-align: center;
  margin-top: 40px;
  padding: 0.1em;
  margin-bottom: 2em;
  font-size: 0.9em;
}

.footer a {
  color: #1E90FF;               
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}